
@{
    ViewBag.Title = "CheckBalance";
}

<div class="md-padding" ng-cloak>
    <div layout="column" layout-align="center center">
        <h2 class="md-title" layout-align="center center">Account Name: @ViewBag.AccountName</h2>
        <h2 class="md-title" layout-align="center center">Balance: R @ViewBag.Balance</h2>
    </div>

    <div layout="row" layout-align="center center">
        <md-button flex="30" class="md-raised md-primary" ng-click="printBalance('@ViewBag.AccountName',@ViewBag.Balance)">print receipt</md-button>
        <md-button flex="10" class="md-raised md-primary" ng-click="back()">back</md-button>
        <md-button flex="10" class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
    </div>
</div>

